*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
keystore.properties
easytier-release.jks
*.apk
*.jks
/app/.cxx
easytier-build/
.claude/
.kotlin/
